<h1>Login</h1>
<form method="POST">

  <input type="email" name="user_email" placeholder="Email" required />
  
  <input type="password" name="user_password" placeholder="Password" required />
  <button>Login</button>
</form>
